body {
  display: flex;
  flex-direction: row;
  width: 100vh;
  margin: auto;
  margin-top: 36px;
  justify-content: space-evenly;
}

#inputForm {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-left: 12px;
}

#resultsArea {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin-left: 12px;
}

input {
  margin-bottom: 12px;
  width: 100%;
}

textarea {
    margin-bottom: 12px;
}

img {
    max-width: 370px;
}